.flag-card img {
  width: 100%;
  height: 100%;
}

.flag-card-wrong {
  padding: 5px;
  background-color: red;
}
.flag-card-wrong img {
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.flag-card-right {
  opacity: 0.8;
  padding: 5px;
  background-color: green;
}

.flag-card-right,
.flag-card-wrong {
  /* box-shadow: 0 20px 20px rgba(0, 0, 0, 0.23);  */
  transition: all 0.3s ease;
}